__pycache__/
*.pyc
.gitignore.swp
*.swp
.DS_Store
*.bat
!Zero_live.bat
!uninstall.bat
random_web/
version.txt
combined-playlist.m3u
logs/
default_theme.txt
.update_staging
.launch_args
installer_gui.py
build_installer.py
build/
*.spec
